@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gästebuch</h1>
    <p class="lead">Hier kannst du eine Bewertung, Verbesserung oder einfach nur deinen Senf hinzu geben!</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Einträge lesen</h2>
        <p>
            schaue dir alle bisherigen Einträge unserer Bar an und lese spanende und ehrliche Rezensionen unserer Bar.
        </p>
        <p><a class="btn btn-default" href="../tbl_Eintrag">anzeigen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Einträge erstellen</h2>
        <p>erstelle deine eigenen Einträge um deine eigene Meinung zu vertreten.</p>
        <p><a class="btn btn-default" href="../tbl_Eintrag/Create">erstellen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Adminloggin</h2>
        <p></p>
        <p><a class="btn btn-default" href="">loggin &raquo;</a></p>
    </div>
</div>